<!DOCTYPE html>
<html lang="en" id="photos">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/header"); %>

    <main id="content">
      <section>
        <h2><%= title %></h2>
        <% if (photos === undefined || photos.mediaItems === undefined) { %>
          <p>
            There was an issue loading the photos.
            Please contact the troop webmaster.
          </p>
        <% } else { %>
          <ul class="album">
            <% photos.mediaItems.forEach((mediaItem) => { %>
              <li><figure>
                <img src="<%= mediaItem.baseUrl %>"/>
                <figcaption>
                  <%= (mediaItem.description) ? (
                  mediaItem.description) : (
                  mediaItem.filename) %>
                </figcaption>
              </figure></li>
            <% }); %>
          </ul>
        <% } %>
      </section>
      <div class="overlay" aria-hidden="true">
        <button class="close">&times;</button>
        <button class="arrow-key left"><span>&lt;</span></button>
        <figure>
          <img src="">
          <figcaption></figcaption>
        </figure>
        <button class="arrow-key right"><span>&gt;</span></button>
      </div>
    </main>
  </body>
</html>
