<!DOCTYPE html>
<html lang="en" id="photos">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/header"); %>

    <main id="content">
      <section>
        <h2>Troop Photos</h2>
        <% if (albums === undefined || albums.albums === undefined) { %>
          <p>
            There was an issue loading the photos.
            Please contact the troop webmaster.
          </p>
        <% } else { %>
          <ul class="album">
            <% albums.albums.forEach((album) => { %>
              <% if (album.title !== 'Home Page') { %>
                <li>
                  <figure>
                    <a href="album-photos?albumId=<%= album.id %>&albumTitle=<%= album.title %>">
                      <img src="<%= album.coverPhotoBaseUrl %>"/></a>
                    <figcaption>
                      <a href="album-photos?albumId=<%= album.id %>&albumTitle=<%= album.title %>">
                        <%= album.title %>
                      </a>
                    </figcaption>
                  </figure>
                </li>
              <% } %>
            <% }); %>
          </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>
