<!DOCTYPE html>
<html lang="en" id="photos">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/header"); %>

    <main id="content">
      <section>
        <h2>Troop Photos</h2>
        <% if (albums === undefined || albums.albums === undefined) { %>
          <p>
            There was an issue loading the photos.
            Please contact the troop webmaster.
          </p>
        <% } else { %>
          <% albums.albums.forEach((album) => { %>
            <% if (album.title !== 'Home Page') { %>
              <a href="album-photos?albumId=<%= album.id %>&albumTitle=<%= album.title %>">
                <figure>
                  <img src="<%= album.coverPhotoBaseUrl %>"/>
                  <figcaption><%= album.title %></figcaption>
                </figure>
              </a>
            <% } %>
          <% }); %>
        <% } %>
      </section>
    </main>
  </body>
</html>
